name: Publish to pub.dev

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Dry run only
        type: boolean
        default: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
      - name: Publish (dry run)
        if: ${{ inputs.dry_run }}
        run: flutter pub publish --dry-run
      - name: Publish
        if: ${{ !inputs.dry_run }}
        run: flutter pub publish --force
